{% extends './base.html' %}

{% block title%} Ficha {% endblock %}

{% block body %}
<button onclick="history.back()" class="back-button">
    <i class="fas fa-arrow-left"></i> Regresar
</button>
<h1 class="text-center bold-text">Ficha</h1>
<div class="card mb-3">
    <div class="card-header" data-toggle="collapse" data-target="#fichaIdentificacion" aria-expanded="true"
        aria-controls="fichaIdentificacion">
        Ficha de Identificación
        <i class="fas fa-chevron-up float-right"></i>
    </div>
    <div id="fichaIdentificacion" class="collapse show">
        <div class="card-body">
            <form class="row g-3 needs-validation" novalidate id="fichaForm">
                <div class="form-group col-md-3">
                    <label for="fecha">Fecha de elaboración:</label>
                    <input type="date" class="form-control" id="fecha" name="fecha">
                </div>
                <div class="form-group col-md-4">
                    <label for="folio" class="form-label">Folio:</label>
                    <input type="text" class="form-control" id="folio" required>
                    <div class="valid-feedback"></div>
                </div>
                <div class="form-group col-md-6">
                    <label for="nombrePaciente" class="form-label">Nombre del Paciente:</label>
                    <input type="text" class="form-control" id="nombrePaciente" required>
                    <div class="valid-feedback"></div>
                </div>
                <div class="form-group col-md-3">
                    <label for="sexo">Sexo:</label>
                    <select class="form-control" id="sexo" name="sexo">
                        <option value="masculino">Masculino</option>
                        <option value="femenino">Femenino</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="fechaNacimiento">Fecha de Nacimiento:</label>
                    <input type="date" class="form-control" id="fechaNacimiento" name="fechaNacimiento">
                </div>
                <div class="form-group mt-1 col-md-4">
                    <label for="edad" class="form-label">Edad:</label>
                    <input type="number" class="form-control" id="edad" required>
                    <div class="valid-feedback"></div>
                </div>
                <div class="form-group mt-1 col-md-4">
                    <label for="lugarNacimiento" class="form-label">Lugar de nacimiento:</label>
                    <input type="text" class="form-control" id="lugarNacimiento" required>
                    <div class="valid-feedback"></div>
                </div>
                <div class="form-group mt-1 col-md-3">
                    <label for="civil">Estado Civil:</label>
                    <select class="form-control" id="civil" name="civil">
                        <option value="soltero">Soltero(a)</option>
                        <option value="casado">Casado(a)</option>
                    </select>
                </div>
                <div class="form-group mt-1 col-md-8">
                    <label for="ocupacion" class="form-label">Ocupación:</label>
                    <input type="text" class="form-control" id="ocupacion" required>
                    <div class="valid-feedback"></div>
                </div>
                <div class="form-group mt-1 col-md-4">
                    <label for="nacionalidad" class="form-label">Nacionalidad:</label>
                    <input type="text" class="form-control" id="nacionalidad" required>
                    <div class="valid-feedback"></div>
                </div>
                <div class="form-group mt-1 col-md-8">
                    <label for="domicilio" class="form-label">Domicilio Actual:</label>
                    <input type="text" class="form-control" id="domicilio" required>
                    <div class="valid-feedback"></div>
                </div>
                <div class="form-group mt-1 col-md-4">
                    <label for="telefono" class="form-label">Número Telefónico:</label>
                    <input type="text" class="form-control" id="telefono" required>
                    <div class="valid-feedback"></div>
                </div>
                <p class="text-center col-md-12 mt-1"><strong>Contacto de Emergencia</strong></p>
                <div class="col-md-8 form-group mt-1">
                    <label for="nombreContactoEmergencia" class="form-label">Nombre:</label>
                    <input type="text" class="form-control" id="nombreContactoEmergencia" required>
                    <div class="valid-feedback"></div>
                </div>
                <div class="form-group mt-1 col-md-4">
                    <label for="telefonoEmergencia" class="form-label">Número Telefónico:</label>
                    <input type="text" class="form-control" id="telefonoEmergencia" required>
                    <div class="valid-feedback"></div>
                </div>
                <div class="col-md-4 form-group mt-1">
                    <label for="diagnosticoMedico" class="form-label">Diagnóstico Médico:</label>
                    <input type="text" class="form-control" id="diagnosticoMedico" required>
                    <div class="valid-feedback"></div>
                </div>
                <div class="col-md-4 form-group mt-1">
                    <label for="estadoCivil" class="form-label">Elaboró historial clínico:</label>
                    <input type="text" class="form-control" id="estadoCivil" required>
                    <div class="valid-feedback"></div>
                </div>
                <div class="col-md-4 form-group mt-1">
                    <label for="motivoConsulta" class="form-label">Motivo de Consulta:</label>
                    <input type="text" class="form-control" id="motivoConsulta" required>
                    <div class="valid-feedback"></div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="contenedorFicha1" class="card mb-3">
    <div class="card-header" data-toggle="collapse" data-target="#antecedentesNoPatologicos" aria-expanded="true"
        aria-controls="antecedentesNoPatologicos">
        Antecedentes Personales No Patológicos
        <i class="fas fa-chevron-up float-right"></i>
        <button type="button" class="btn btn-danger btn-sm float-right mr-2" onclick="eliminarContenedor1()">Eliminar
            sección</button>
    </div>
    <div id="antecedentesNoPatologicos" class="collapse show">
        <div class="card-body">
            <form class="row g-3 needs-validation" novalidate id="fichaForm">
                <p class="text-center col-md-12 mt-1"><strong>Vivienda</strong></p>
                <div class="form-group mt-1 col-md-4">
                    <label for="tipocasa">Propia/Rentada:</label>
                    <input type="text" class="form-control" id="tipocasa" placeholder="">
                    <div class="valid-feedback"></div>
                </div>
                <div class="form-group mt-1 col-md-4">
                    <label for="ventilacion">Ventilación:</label>
                    <input type="text" class="form-control" id="ventilacion" placeholder="">
                    <div class="valid-feedback"></div>
                </div>
                <div class="form-group mt-1 col-md-4">
                    <label for="iluminacion">Iluminación:</label>
                    <input type="text" class="form-control" id="iluminacion" placeholder="">
                    <div class="valid-feedback"></div>
                </div>
                <div class="form-group mt-1 col-md-4">
                    <label for="piso">Piso:</label>
                    <input type="text" class="form-control" id="piso" placeholder="">
                    <div class="valid-feedback"></div>
                </div>
                <div class="form-group mt-1 col-md-4">
                    <label for="electrodomesticos">Electrodomésticos:</label>
                    <input type="text" class="form-control" id="electrodomesticos" placeholder="">
                    <div class="valid-feedback"></div>
                </div>
                <div class="form-group mt-1 col-md-4">
                    <label for="mascotas">Mascotas:</label>
                    <input type="text" class="form-control" id="mascotas" placeholder="">
                    <div class="valid-feedback"></div>
                </div>
                <p class="text-center col-md-12 mt-1"><strong>Hábitos Alimenticios</strong></p>
                <div class="form-group mt-1 col-md-4">
                    <label for="comidasxdia">Comidas al día:</label>
                    <input type="number" class="form-control" id="comidasxdia" placeholder="">
                    <div class="valid-feedback"></div>
                </div>
                <div class="form-group mt-1 col-md-4">
                    <label for="aguaLts">Agua(lts):</label>
                    <input type="number" class="form-control" id="aguaLts" placeholder="">
                    <div class="valid-feedback"></div>
                </div>
                <div class="form-group mt-1 col-md-4">
                    <label for="gruposAlimenticios">Grupos alimenticios que consume:</label>
                    <input type="text" class="form-control" id="gruposAlimenticios" placeholder="">
                    <div class="valid-feedback"></div>
                </div>
                <div class="form-group mt-1 col-md-12">
                    <label for="descripRutinaAlimentaria">Descripción de la rutina alimenticia:</label>
                    <input type="text" class="form-control" id="descripRutinaAlimentaria" placeholder="">
                    <div class="valid-feedback"></div>
                </div>
                <p class="text-center col-md-12 mt-1"><strong>Higiene</strong></p>
                <div class="form-group mt-1 col-md-4">
                    <label for="higieneBucal">Higiene bucal:</label>
                    <input type="text" class="form-control" id="higieneBucal" placeholder="">
                    <div class="valid-feedback"></div>
                </div>
                <div class="form-group mt-1 col-md-4">
                    <label for="bañosxdia">Baños al día:</label>
                    <input type="text" class="form-control" id="bañosxdia" placeholder="">
                    <div class="valid-feedback"></div>
                </div>
                <div class="form-group mt-1 col-md-4">
                    <label for="cambiosRopa">Cambios de ropa:</label>
                    <input type="text" class="form-control" id="cambiosRopa" placeholder="">
                    <div class="valid-feedback"></div>
                </div>
                <p class="text-center col-md-12 mt-1"><strong>OCIO Y OCUPACIÓN (frecuencia, intensidad semanal)</strong>
                </p>
                <div class="form-group mt-1 col-md-4">
                    <label for="actFisica">Actividad Física:</label>
                    <input type="text" class="form-control" id="actFisica" placeholder="">
                    <div class="valid-feedback"></div>
                </div>
                <div class="form-group mt-1 col-md-4">
                    <label for="deporte">Deporte:</label>
                    <input type="text" class="form-control" id="deporte" placeholder="">
                    <div class="valid-feedback"></div>
                </div>
                <div class="form-group mt-1 col-md-4">
                    <label for="ocio">Ocio:</label>
                    <input type="text" class="form-control" id="ocio" placeholder="">
                    <div class="valid-feedback"></div>
                </div>
                <div class="form-group mt-1 col-md-12">
                    <label for="ocupacion1">Ocupación:</label>
                    <input type="text" class="form-control" id="ocupacion1" placeholder="">
                    <div class="valid-feedback"></div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="contenedorFicha2" class="card mb-3">
    <div class="card-header" data-toggle="collapse" data-target="#antecedentesHeredofamiliares" aria-expanded="true"
        aria-controls="antecedentesHHeredofamiliares">
        Antecedentes Heredofamiliares
        <i class="fas fa-chevron-up float-right"></i>
        <button type="button" class="btn btn-danger btn-sm float-right mr-2" onclick="eliminarContenedor2()">Eliminar
            sección</button>
    </div>
    <div id="antecedentesHeredofamiliares" class="collapse show">
        <div class="card-body">
            <table class="table table-bordered">
                <thead class="col">
                    <tr>
                        <th scope="col">Enfermedad</th>
                        <th scope="col">Sí</th>
                        <th scope="col">No</th>
                        <th scope="col">Parentesco</th>
                        <th scope="col">Vivo</th>
                        <th scope="col">Muerto</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Cáncer</td>
                        <td><input type="checkbox" name="cancer_si" id="cancer_si" value="1"></td>
                        <td><input type="checkbox" name="cancer_no" id="cancer_no" value="0"></td>
                        <td><input type="text" class="form-control" name="cancer_parentesco" id="cancer_parentesco" placeholder="Parentesco">
                        </td>
                        <td><input type="checkbox" name="cancer_vivo" id="cancer_vivo" value="1"></td>
                        <td><input type="checkbox" name="cancer_muerto" id="cancer_muerto" value="0"></td>
                    </tr>
                    <tr>
                        <td>Diabetes</td>
                        <td><input type="checkbox" name="diabetes_si" id="diabetes_si" value="1"></td>
                        <td><input type="checkbox" name="diabetes_no" id="diabetes_no" value="0"></td>
                        <td><input type="text" class="form-control" name="diabetes_parentesco" id="diabetes_parentesco" placeholder="Parentesco">
                        </td>
                        <td><input type="checkbox" name="diabetes_vivo" id="diabetes_vivo" value="1"></td>
                        <td><input type="checkbox" name="diabetes_muerto" id="diabetes_muerto" value="0"></td>
                    </tr>
                    <tr>
                        <td>Hipertensión</td>
                        <td><input type="checkbox" name="hipertension_si" id="hipertension_si" value="1"></td>
                        <td><input type="checkbox" name="hipertension_no" id="hipertension_no" value="0"></td>
                        <td><input type="text" class="form-control" name="hipertension_parentesco" id="hipertension_parentesco"
                                placeholder="Parentesco"></td>
                        <td><input type="checkbox" name="hipertension_vivo" id="hipertension_vivo" value="1"></td>
                        <td><input type="checkbox" name="hipertension_muerto" id="hipertension_muerto" value="0"></td>
                    </tr>
                    <tr>
                        <td>Enfermedades Cardiacas</td>
                        <td><input type="checkbox" name="cardiacas_si" id="cardiacas_si" value="1"></td>
                        <td><input type="checkbox" name="cardiacas_no" id="cardiacas_no" value="0"></td>
                        <td><input type="text" class="form-control" name="cardiacas_parentesco" id="cardiacas_parentesco"
                                placeholder="Parentesco"></td>
                        <td><input type="checkbox" name="cardiacas_vivo" id="cardiacas_vivo" value="1"></td>
                        <td><input type="checkbox" name="cardiacas_muerto" id="cardiacas_muerto" value="0"></td>
                    </tr>
                    <tr>
                        <td>Enfermedades Mentales</td>
                        <td><input type="checkbox" name="mentales_si" id="mentales_si" value="1"></td>
                        <td><input type="checkbox" name="mentales_no" id="mentales_no" value="0"></td>
                        <td><input type="text" class="form-control" name="mentales_parentesco" id="mentales_parentesco" placeholder="Parentesco">
                        </td>
                        <td><input type="checkbox" name="mentales_vivo" id="mentales_vivo" value="1"></td>
                        <td><input type="checkbox" name="mentales_muerto" id="mentales_muerto" value="0"></td>
                    </tr>
                    <tr>
                        <td>Alergias</td>
                        <td><input type="checkbox" name="alergias_si" id="alergias_si" value="1"></td>
                        <td><input type="checkbox" name="alergias_no" id="alergias_no" value="0"></td>
                        <td><input type="text" class="form-control" name="alergias_parentesco" id="alergias_parentesco" placeholder="Parentesco">
                        </td>
                        <td><input type="checkbox" name="alergias_vivo" id="alergias_vivo" value="1"></td>
                        <td><input type="checkbox" name="alergias_muerto" id="alergias_muerto" value="0"></td>
                    </tr>
                </tbody>
            </table>
            <div class="form-group mt-1 col-md-12">
                <label for="otros">Otros:</label>
                <input type="text" class="form-control" id="otros" placeholder="">
                <div class="valid-feedback">
                </div>
            </div>
            <div class="form-group mt-1 col-md-12">
                <label for="observaciones">Observaciones:</label>
                <input type="text" class="form-control" id="observaciones" placeholder="">
                <div class="valid-feedback">
                </div>
            </div>
        </div>
    </div>
</div>
<div id="contenedorFicha3" class="card mb-3">
    <div class="card-header" data-toggle="collapse" data-target="#antecedentesPersonalesPatológicos"
        aria-expanded="true" aria-controls="antecedentesPersonalesPatológicos">
        Antecedentes Personales Patológicos
        <i class="fas fa-chevron-up float-right"></i>
        <button type="button" class="btn btn-danger btn-sm float-right mr-2" onclick="eliminarContenedor3()">Eliminar
            sección</button>
    </div>
    <div id="antecedentesPersonalesPatológicos" class="collapse show">
        <div class="card-body">
            <table class="table table-bordered">
                <thead class="col">
                    <tr>
                        <th scope="col">Patologías</th>
                        <th scope="col">Sí</th>
                        <th scope="col">No</th>
                        <th scope="col">Edad que se presento</th>
                        <th scope="col">Secuelas / Complicaciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Traumatismos</td>
                        <td><input type="checkbox" name="traumatismos_si" id="traumatismos_si" value="1"></td>
                        <td><input type="checkbox" name="traumatismos_no" id="traumatismos_no" value="0"></td>
                        <td><input type="text" class="form-control" name="traumatismos_edad" id="traumatismos_edad" placeholder=""></td>
                        <td><input type="text" class="form-control" name="traumatismos_secuelas" id="traumatismos_secuelas" placeholder="">
                        </td>

                    </tr>
                    <tr>
                        <td>Cirugías</td>
                        <td><input type="checkbox" name="cirugías_si" id="cirugías_si" value="1"></td>
                        <td><input type="checkbox" name="cirugías_no" id="cirugías_no" value="0"></td>
                        <td><input type="text" class="form-control" name="cirugías_edad" id="cirugías_edad" placeholder=""></td>
                        <td><input type="text" class="form-control" name="cirugías_secuelas" id="cirugías_secuelas" placeholder=""></td>
                    </tr>
                    <tr>
                        <td>Luxaciones</td>
                        <td><input type="checkbox" name="luxaciones_si" id="luxaciones_si" value="1"></td>
                        <td><input type="checkbox" name="luxaciones_no" id="luxaciones_no" value="0"></td>
                        <td><input type="text" class="form-control" name="luxaciones_edad" id="luxaciones_edad" placeholder=""></td>
                        <td><input type="text" class="form-control" name="luxaciones_secuelas" id="luxaciones_secuelas" placeholder=""></td>
                    </tr>
                    <tr>
                        <td>Alergias</td>
                        <td><input type="checkbox" name="alergias_si" id="alergias_si" value="1"></td>
                        <td><input type="checkbox" name="alergias_no" id="alergias_no" value="0"></td>
                        <td><input type="text" class="form-control" name="alergias_edad" id="alergias_edad" placeholder=""></td>
                        <td><input type="text" class="form-control" name="alergias_secuelas" id="alergias_secuelas" placeholder=""></td>
                    </tr>
                    <tr>
                        <td>Toxicomanías</td>
                        <td><input type="checkbox" name="toxicomanías_si" id="toxicomanías_si" value="1"></td>
                        <td><input type="checkbox" name="toxicomanías_no" id="toxicomanías_no" value="0"></td>
                        <td><input type="text" class="form-control" name="toxicomanías_edad" id="toxicomanías_edad" placeholder=""></td>
                        <td><input type="text" class="form-control" name="toxicomanías_secuelas" id="toxicomanías_secuelas" placeholder="">
                        </td>
                    </tr>
                    <tr>
                        <td>Padecimientos_psiquiátricos</td>
                        <td><input type="checkbox" name="psiquiátricos_si" id="psiquiátricos_si" value="1"></td>
                        <td><input type="checkbox" name="psiquiátricos_no" id="psiquiátricos_no"value="0"></td>
                        <td><input type="text" class="form-control" name="psiquiátricos_edad" id="psiquiátricos_edad" placeholder=""></td>
                        <td><input type="text" class="form-control" name="psiquiátricos_secuelas" id="psiquiátricos_secuelas" placeholder="">
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="form-group mt-1 col-md-12">
                <label for="inmunizaciones">Inmunizaciones:</label>
                <input type="text" class="form-control" id="inmunizaciones" placeholder="">
                <div class="valid-feedback">
                </div>
            </div>
            <div class="form-group mt-1 col-md-12">
                <label for="observaciones_ante">Observaciones:</label>
                <input type="text" class="form-control" id="observaciones_ante" placeholder="">
                <div class="valid-feedback">
                </div>
            </div>
        </div>
    </div>
</div>
<div id="contenedorFicha4" class="card mb-3">
    <div class="card-header" data-toggle="collapse" data-target="#antecedentesGinecobstétricos" aria-expanded="true"
        aria-controls="antecedentesGinecobstétricos">
        Antecedentes Ginecobstétricos
        <i class="fas fa-chevron-up float-right"></i>
        <button type="button" class="btn btn-danger btn-sm float-right mr-2" onclick="eliminarContenedor4()">Eliminar
            sección</button>
    </div>
    <div id="antecedentesGinecobstétricos" class="collapse show">
        <div class="card-body">
            <div class="form-group">
                <label for="menarquia">Menarquía:</label>
                <input type="text" class="form-control" id="menarquia" placeholder="Menarquía">
            </div>
            <div class="form-group">
                <label for="ultimaMenstruacion">Fecha de la última menstruación:</label>
                <input type="date" class="form-control" id="ultimaMenstruacion"
                    placeholder="Fecha de la última menstruación">
            </div>
            <div class="form-group">
                <label for="caracteristicasMenstruacion">Características de la menstruación:</label>
                <input type="text" class="form-control" id="caracteristicasMenstruacion"
                    placeholder="Duración, frecuencia, cantidad de flujo, dolor, etc.">
            </div>
            <div class="form-group">
                <label for="inicioVidaSexual">Inicio de la vida sexual:</label>
                <input type="text" class="form-control" id="inicioVidaSexual" placeholder="Inicio de la vida sexual">
            </div>
            <div class="form-group">
                <label for="usoAnticonceptivos">Uso de anticonceptivos:</label>
                <input type="text" class="form-control" id="usoAnticonceptivos" placeholder="Uso de anticonceptivos">
            </div>
            <div class="form-group">
                <label for="numEmbarazos">No. de embarazos:</label>
                <input type="number" class="form-control" id="numEmbarazos" placeholder="Número de embarazos">
            </div>
            <div class="form-group">
                <label for="numPartos">No. de partos:</label>
                <input type="number" class="form-control" id="numPartos" placeholder="Número de partos">
            </div>
            <div class="form-group">
                <label for="numCesareas">No. de cesáreas:</label>
                <input type="number" class="form-control" id="numCesareas" placeholder="Número de cesáreas">
            </div>
            <div class="form-group">
                <label for="observacionesGine">Observaciones:</label>
                <input type="text" class="form-control" id="observacionesGine" placeholder="Observaciones">
            </div>
        </div>
    </div>
</div>
<div id="contenedorFicha5" class="card mb-3">
    <div class="card-header" data-toggle="collapse" data-target="#antecedentesDePadecimientoActual" aria-expanded="true"
        aria-controls="antecedentesDePadecimientoActual">
        Antecedentes De Padecimiento Actual
        <i class="fas fa-chevron-up float-right"></i>
        <button type="button" class="btn btn-danger btn-sm float-right mr-2" onclick="eliminarContenedor5()">Eliminar
            sección</button>
    </div>
    <div id="antecedentesDePadecimientoActual" class="collapse show">
        <div class="card-body">
            <div class="form-group">
                <label for="describe">Describe: ¿Qué le paso? ¿hace cuánto? ¿cómo se lesiono? ¿qué síntomas
                    presentó? ¿fue al médico ¿tomó algún medicamento? ¿se realizo algún estudio? ¿cuáles? ¿cómo ha
                    evolucionado los síntomas? ¿hay alguna actividad o movimiento que intensifique los síntomas? ¿en
                    algún momento del día se intensifica más? ¿existe alguna actividad que se ha visto limitada por
                    hacer?, etc. :
                </label>
                <textarea class="form-control" name="describe" id="describe" style="height: 200px"
                    placeholder="Escribe aquí">
                </textarea>
            </div>
        </div>
    </div>
</div>
<div id="contenedorFicha6" class="card mb-3">
    <div class="card-header" data-toggle="collapse" data-target="#exploraciónFísica" aria-expanded="true"
        aria-controls="exploraciónFísica">
        Exploración Física
        <i class="fas fa-chevron-up float-right"></i>
        <button type="button" class="btn btn-danger btn-sm float-right mr-2" onclick="eliminarContenedor6()">Eliminar
            sección</button>
    </div>
    <div id="exploraciónFísica" class="collapse show">
        <div class="card-body">
            <form class="row g-3 needs-validation" novalidate>
                <p class="text-start col-md-12"><strong>1. Habitus exterior:</strong></p>
                <div class="form-group col-md-12">
                    <label for="habitusExte">¿cómo llega el px? (caminado, con apoyo, etc), ¿llega solo o
                        acompañado?, personalidad (feliz, nervioso,
                        etc):
                    </label>
                    <textarea class="form-control" name="habitusExte" id="habitusExte" style="height: 100px"
                        placeholder="Escribe aquí"></textarea>
                </div>
                <p class="text-start col-md-12 mt-1"><strong>2. Somatometría:</strong></p>
                <div class="form-group mt-1 col-md-4">
                    <label for="peso">Peso:</label>
                    <input type="text" class="form-control" id="peso" placeholder="">
                </div>
                <div class="form-group mt-1 col-md-4">
                    <label for="talla">Altura:</label>
                    <input type="text" class="form-control" id="talla" placeholder="">
                </div>
                <div class="form-group mt-1 col-md-4">
                    <label for="tensionArterial">IMC:</label>
                    <input type="text" class="form-control" id="tensionArterial" placeholder="">
                </div>
                <p class="text-start col-md-12 mt-1"><strong>3. Signos vitales:</strong></p>
                <div class="form-group mt-1 col-md-4">
                    <label for="temperatura">Temperatura:</label>
                    <input type="text" class="form-control" id="temperatura" placeholder="">
                </div>
                <div class="form-group mt-1 col-md-4">
                    <label for="frecuenciaCardiaca">Pulso cardíaco:</label>
                    <input type="text" class="form-control" id="frecuenciaCardiaca" placeholder="">
                </div>
                <div class="form-group mt-1 col-md-4">
                    <label for="frecuenciaRespiratoria">Frecuencia respiratoria:</label>
                    <input type="text" class="form-control" id="frecuenciaRespiratoria" placeholder="">
                </div>
                <div class="form-group mt-1 col-md-4">
                    <label for="saturacion_de_oxígeno">Saturacion de oxígeno:</label>
                    <input type="text" class="form-control" id="saturacion_de_oxígeno" placeholder="">
                </div>
                <div class="form-group mt-1 col-md-4">
                    <label for="presionArterial">Presión arterial:</label>
                    <input type="text" class="form-control" id="presionArterial" placeholder="">
                </div>
                <div class="form-group mt-1 col-md-8">
                    <label for="observacionesexplofisica">Observaciones:</label>
                    <input type="text" class="form-control" id="observacionesexplofisica" placeholder="">
                </div>
                <div class="form-group mt-1 col-md-12">
                    <label for="resultadospreviosyactuales">Resultados previos y actuales de estudios de laboratorio
                        y gabinete:</label>
                    <input type="text" class="form-control" id="resultadospreviosyactuales" placeholder="">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}