{% extends './base.html' %}

{% block title%} Notas de seguimiento {% endblock %}

{% block body %}
<h1 class="text-center bold-text">Notas de seguimiento</h1>
<div class="container mt-5">
    <div id="form-sections">
        <div class="form-container mt-3">
            <form class="row g-3 needs-validation" novalidate>
                <!-- Form Fields -->
                <div class="form-group col-md-12 mt-1">
                    <label for="nombrePaciente" class="form-label">Nombre del Paciente:</label>
                    <input type="text" class="form-control" id="nombrePaciente" required>
                    <div class="valid-feedback"></div>
                </div>

                <div class="form-group col-md-6 mt-1">
                    <label for="diagnostico" class="form-label">Diagnóstico:</label>
                    <input type="text" class="form-control" id="diagnostico" required>
                    <div class="valid-feedback"></div>
                </div>

                <div class="form-group col-md-4 mt-1">
                    <label for="folio" class="form-label">Folio:</label>
                    <input type="text" class="form-control" id="folio" required>
                    <div class="valid-feedback"></div>
                </div>

                <div class="form-group col-md-8 mt-1">
                    <label for="fecha">Fecha:</label>
                    <input type="date" class="form-control" id="fecha" name="fecha">
                </div>
                <div class="form-group col-md-4 mt-1">
                    <label for="sesion" class="form-label">No. de sesión:</label>
                    <input type="text" class="form-control" id="sesion" required>
                    <div class="valid-feedback"></div>
                </div>

                <div class="form-group col-md-12 mt-1">
                    <label for="habitusExte">Notas:</label>
                    <textarea class="form-control" name="habitusExte" id="habitusExte" style="height: 100px"
                        placeholder="Escribe aquí"></textarea>
                </div>

                <div class="form-group col-md-12 mt-1">
                    <label for="sugerencias">Sugerencias/observaciones:</label>
                    <textarea class="form-control" name="sugerencias" id="sugerencias" style="height: 100px"
                        placeholder="Escribe aquí"></textarea>
                </div>
                <div class="form-group col-md-12 mt-1">
                    <label for="nombrefirma">Nombre y firma del tratante:</label>
                    <textarea class="form-control" name="nombrefirma" id="nombrefirma" style="height: 100px"
                        placeholder="Escribe aquí"></textarea>
                </div>
            </form>
        </div>
    </div>
    <button id="add-section" class="btn btn-primary mt-3">Agregar nueva sección</button>
</div>
{% endblock %}