{% extends './base.html' %}

{% block title%} Plan de tratamiento {% endblock %}

{% block body %}
<h1 class="text-center bold-text">Plan de tratamiento</h1>
<div class="container mt-5">
    <div class="form-group row mt-3">
        <div class="card-body col-md-12 mx-auto d-flex justify-content-center">
            <table class="table table-bordered">
                <thead class="col">
                    <tr>
                        <th scope="col">Objetivo</th>
                        <th scope="col">Modalidad terapéutica</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Dosis</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <textarea class="form-control" name="objetivo" style="height: 100px; min-width: 100px;"
                                placeholder=""></textarea>
                        </td>
                        <td>
                            <textarea class="form-control" name="modalidad" style="height: 100px; min-width: 100px;"
                                placeholder=""></textarea>
                        </td>
                        <td>
                            <textarea class="form-control" name="descripcion" style="height: 100px; min-width: 100px;"
                                placeholder=""></textarea>
                        </td>
                        <td>
                            <textarea class="form-control" name="dosis" style="height: 100px; min-width: 100px;"
                                placeholder=""></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <textarea class="form-control" name="objetivo" style="height: 100px; min-width: 100px;"
                                placeholder=""></textarea>
                        </td>
                        <td>
                            <textarea class="form-control" name="modalidad" style="height: 100px; min-width: 100px;"
                                placeholder=""></textarea>
                        </td>
                        <td>
                            <textarea class="form-control" name="descripcion" style="height: 100px; min-width: 100px;"
                                placeholder=""></textarea>
                        </td>
                        <td>
                            <textarea class="form-control" name="dosis" style="height: 100px; min-width: 100px;"
                                placeholder=""></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <textarea class="form-control" name="objetivo" style="height: 100px; min-width: 100px;"
                                placeholder=""></textarea>
                        </td>
                        <td>
                            <textarea class="form-control" name="modalidad" style="height: 100px; min-width: 100px;"
                                placeholder=""></textarea>
                        </td>
                        <td>
                            <textarea class="form-control" name="descripcion" style="height: 100px; min-width: 100px;"
                                placeholder=""></textarea>
                        </td>
                        <td>
                            <textarea class="form-control" name="dosis" style="height: 100px; min-width: 100px;"
                                placeholder=""></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <textarea class="form-control" name="objetivo" style="height: 100px; min-width: 100px;"
                                placeholder=""></textarea>
                        </td>
                        <td>
                            <textarea class="form-control" name="modalidad" style="height: 100px; min-width: 100px;"
                                placeholder=""></textarea>
                        </td>
                        <td>
                            <textarea class="form-control" name="descripcion" style="height: 100px; min-width: 100px;"
                                placeholder=""></textarea>
                        </td>
                        <td>
                            <textarea class="form-control" name="dosis" style="height: 100px; min-width: 100px;"
                                placeholder=""></textarea>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}